body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #adfff8; /* Web sayfasının arka plan rengi */
    color: #e45fff; /* Metin rengi */
}

h1 {
    color: #1400a8; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}